@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg,#9a9a78,#dbdbe3,#77a0bc);
}

#root {
  width: 100%;
}
html {
  scroll-behavior: smooth;
}

